.board-list{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.board-item{
    min-width: 300px;
    margin: 5px;
    position: relative;
}

.board-item-open{
    position: absolute;
    right: 0px;
    top: 0px;
}