<top-bar></top-bar>
<div class="board-list">
    <div class="board-item">
        <p-card [style]="{ 
            border: '1px solid #aaaaaa',  
            borderRadius: '10px',
            width: '350px',  
            backgroundColor: '#66CDAA'
        }">
            <inline-form (onSubmit)="newBoard($event)" text="Add new card!" [showButton]="true"></inline-form>
        </p-card>
    </div>
    @for (item of boards; track item) {
        <div class="board-item">
            <p-card [style]="{ 
                border: '1px solid #aaaaaa',  
                borderRadius: '10px',  
                width: '350px',  
                backgroundColor: '#cccccc'
            }">
                <inline-form (onSubmit)="editBoard($event, item)" [text]="item.title" [showButton]="true"></inline-form>
            </p-card>
            <span class="board-item-open">
                <p-button [link]="true" icon="pi pi-chevron-circle-right" routerLink="/boards/{{item.id}}"></p-button>
            </span>
        </div>
    }
</div>