/* You can add global styles to this file, and also import other style files */
.login-page{
    width: 300px;
    margin: 0 auto;
}
.trello-logo{
    width: 100px;
    margin: 0 auto;
}
.login-name,
.login-email,
.login-username,
.login-password,
.login-button{
    width: 100%;
    margin-bottom: 5px;
}

.login-header,
.login-links,
.login-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}