<top-bar></top-bar>
<div *ngIf="data$ | async as data">
    <div class="board-container-top">
        <div class="board-title">
            <inline-form (onSubmit)="editTitle($event)" text="{{ data.board.title }}" [showButton]="true"></inline-form>
        </div>
        <div class="new-button">
            <inline-form (onSubmit)="newColumn($event)" text="New column!" [showButton]="true"></inline-form>
        </div>
    </div>
    <div class="board-container">
        @for(column of data.columns; track column){
            <div class="column">
                <div class="column-title">
                    {{ column.title }}
                </div>
                <!-- for -->
                <div class="tasks">
                    <inline-form (onSubmit)="newTask($event)" text="New task" [showButton]="true"></inline-form>
                </div>
            </div>
        }
    </div>
</div>