<top-bar></top-bar>
<div *ngIf="data$ | async as data">
    <div class="board-container-top">
        <div class="board-title">
            <inline-form (onSubmit)="editTitle($event)" text="{{ data.board.title }}" [showButton]="true"></inline-form>
        </div>
        <p-button (click)="deleteBoard()" icon="pi pi-trash" severity="danger" size="small"></p-button>
        <div class="new-button">
            <inline-form (onSubmit)="newColumn($event)" text="New column!" [showButton]="true"></inline-form>
        </div>
    </div>
    <div class="board-container">
        @for(column of data.columns; track column){
            <div class="column">
                <div class="column-title">
                    <inline-form  [activeBlur]="true" (onSubmit)="editColumn($event, column)" text="{{ column.title }}" [showButton]="true"></inline-form>
                </div>
                @for(task of filterByColumn(data.tasks, column._id); track task){
                    <div class="tasks" (click)="openTask(task._id)">
                        {{ task.title }}
                    </div>
                }
                <div class="tasks new-task">
                    <inline-form  [activeBlur]="false" (onSubmit)="newTask($event, column)" text="New task" [showButton]="true"></inline-form>
                </div>
            </div>
        }
    </div>
</div>
<router-outlet />