<div class="login-page">
    <p-card class="card-login">
        <div class="login-body">
            <a routerLink="/">
                <img src="logo.svg" class="trello-logo">
            </a>
            <div class="login-header">Login</div>
            <p-messages class="message" [(value)]="errorMessages" [closable]="false" />
            <form [formGroup]="form" (ngSubmit)="login()">
                <input pInputText formControlName="username" type="text" placeholder="Username" class="login-username" />
                <input pPassword [feedback]="false" formControlName="password" type="password" placeholder="Password" class="login-password" />
                <button pButton type="submit" class="login-button">Login</button>
            </form>
            <div class="login-links">
                <p-button label="Register" [link]="true" routerLink="/register" />
            </div>
        </div>
    </p-card>
</div>